/*
	jsrepo 1.29.1
	Installed from https://reactbits.dev/default/
	2-1-2025
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.variable-proximity {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400; /* Default weight */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: none;
}
