.grid-section {
    text-align: center;
    padding: 20px;
}

.grid-title {
    text-align: "center";
    font-size:2.5rem;
    color: "#fff" 
}


.grid-logo {
    width: 150px;
    height: 150px;
    margin: auto ;
}

.grid-name {
    font-size: 16px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

/* Ensuring equal spacing in carousel */
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
